nav {
  background: #dfe4e7;
}

nav ul a {
  color: #243b85;
  font-size: 1.2em;
  margin: 0 1vw;
}

nav .brand-logo {
  color: #243b85;
}

nav .brand-logo img {
  width: 4rem;
}

nav .sidenav-trigger {
  float: right;
  color: #243b85;
}

@media only screen and (max-width: 600px) {
  #mobile-nav a {
    color: #243b85;
  }
  #mobile-nav {
    background: #ffffff;
  }
}
@media only screen and (min-width: 992px) {
  nav .brand-logo {
    margin-left: 2.5rem;
  }
}
